<div [hidden]="editTrainingPlan == true"> 
<h3 class="title text-center">Training Plan</h3>
<div *ngIf="isLoadingData" fxLayout="row" fxLayoutAlign="center">
    <div>
        <mat-spinner></mat-spinner>
    </div>
</div>

<div class="mat-elevation-z8"> 
    <table class="w-100" mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="trainingPlanName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Training Plan Name</th>
            <td mat-cell *matCellDef="let entry">{{ entry.trainingPlanName }}</td>
        </ng-container>

        <ng-container matColumnDef="startDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Start Date</th>
            <td mat-cell *matCellDef="let entry">{{ entry.startDate | date: 'M/d/yyyy' }}</td>
        </ng-container>

        <ng-container matColumnDef="workoutLength">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Workout Length (Weeks)</th>
            <td mat-cell *matCellDef="let entry">{{ entry.workoutLength }}</td>
        </ng-container>

        <ng-container matColumnDef="endDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>End Date</th>
            <td mat-cell *matCellDef="let entry">{{ entry.endDate | date: 'M/d/yyyy'  }}</td>
        </ng-container>

        <ng-container matColumnDef="workoutsPerWeek">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Workouts Per Week</th>
            <td mat-cell *matCellDef="let entry">{{ entry.workoutsPerWeek }}</td>
        </ng-container>

        <ng-container matColumnDef="workoutTypeId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Workout Type Id</th>
            <td mat-cell *matCellDef="let entry">{{ entry.workoutTypeId }}</td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
                <td mat-cell *matCellDef="let row">
                    <button class="btn btn-primary" mat-raised-button (click)="editTrainingPlan()" title="Edit Contact"><mat-icon>edit</mat-icon></button>
                </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row (click)="getRecord(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator color="accent" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>   

    <mat-divider></mat-divider>

    <mat-form-field color="accent">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
    </mat-form-field>
        
    <div>
        <button class="btn btn-primary" mat-raised-button (click)="toggleEdit()">Add</button>
    </div>

</div>

<div *ngIf="editTrainingPlan === true">
    <app-add-training-plan (editClosed)="toggleEdit()" [trainingPlanData]="editTrainingPlanObj" (recordUpdated)="onRecordUpdated($event)"></app-add-training-plan>
</div>
