<header>
    <nav
      class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark box-shadow mb-3"
    >
      <div class="container">
        <a class="navbar-brand" [routerLink]="['/']">Workout App</a>
        <div
          class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
          [ngClass]="{ show: isExpanded }"
        >
          <ul class="navbar-nav flex-grow">
            <li class="nav-item"
                [routerLinkActive]="['link-active']"
                [routerLinkActiveOptions]="{ exact: true }">
              <button class="btn btn-primary" [routerLink]="['/']">Home</button>
            </li>

            <li class="nav-item" [routerLinkActive]="['link-active']">
              <button class="btn btn-primary" mat-button [matMenuTriggerFor]="exerciseMenu">Exercise</button>
              <mat-menu #exerciseMenu="matMenu">
                <button class="btn btn-primary" [routerLink]="['/view-exercise']">View Exercise</button>
              </mat-menu>
            </li>

            <li class="nav-item" [routerLinkActive]="['link-active']">
              <button class="btn btn-primary" mat-button [matMenuTriggerFor]="trainingPlanMenu">Training Plan</button>
              <mat-menu #trainingPlanMenu="matMenu">
                <button class="btn btn-primary" mat-menu-item [routerLink]="['/view-training-plan']">View Training Plan</button>
                <button class="btn btn-primary" mat-menu-item [routerLink]="['/edit-training-plan']">Edit Training Plan</button>
              </mat-menu>
            </li>

            <li class="nav-item" [routerLinkActive]="['link-active']">
              <button class="btn btn-primary" mat-button [matMenuTriggerFor]="workoutMenu">Workout</button>
              <mat-menu #workoutMenu="matMenu">
                <button class="btn btn-primary" mat-menu-item [routerLink]="['/add-workout']">Add Workout</button>
              </mat-menu>
            </li>

            <li class="nav-item" [routerLinkActive]="['link-active']">
              <button class="btn btn-primary" [routerLink]="['/fetch-data']">
                Fetch data
              </button>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
